

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import 'https://fonts.googleapis.com/css?family=Montserrat:700';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.hexagon {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: url("#polygon-clip-hexagon");
        clip-path: url("#polygon-clip-hexagon");
        width: 32px;
        height: 32px;
        background: #FFC107;
    }
body{
  /*background-color: #2b2b2b;*/
  /* background: url("../img/back-light-c.png") center center no-repeat #FFF; */
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background-blend-mode: normal,color-burn; */
  background-size: cover;
  background-attachment: fixed;
}
a.aside-item{
  color:#FFF;
  /*padding-left: 0px;*/
  margin-bottom: 0px;
  background-color: #FFC107; 
}
ul.aside-item:first-child{
  /*margin-top: 72px;*/
  padding-top: 72px;
  border-radius: 4px 4px 0px 0px;
}
ul.aside-item{
  text-decoration: none; 
  background-color: #FFC107; 
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: auto;
}
ul.aside-item:last-child{
  padding-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
}
ul.project_list{
  padding-left: 0px;
  background-color: none;
  color: #2b2b2b;
}
nav{
  /*background-color: #FFC107;*/
  margin-top: 72px;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
}
a:hover{
  text-decoration: none;
    color: #cc9a05;

}
a:active{
  text-decoration: none;
  color: #e2E2e2;
}
a.project_list:visited{
  text-decoration: none;
  color: #2b2b2b;
}
a:visited{
  text-decoration: none;
  color: #FFF;
}
.sub_title{
  margin-top: 24px;
  color: #FFC107;
  font-weight: bold;
}
.youtube_embedded{
  margin-right: 96px;
}
#HOME-UPPER{
  padding-left: 96px;
  background: url("../img/home_back.jpg") center center no-repeat #FFF;
  background-size: cover;
  border-radius: 2px 2px 0px 0px;
  z-index: 0;
}
#HOME-UNDER{
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 48px;
  margin-top:20px; 
  color:#212121;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  line-height: 160%;
  z-index: 1;
  background-color: #FFF;
}
#HOME{
  
}
#myName{
  font-family: 'Montserrat', sans-serif;
  font-size:64px;
  color: #FFC107;
  padding-top: 64px;
  line-height: 90%;
}

#myInfo{
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size:16px;
  color: #FFF;
}
#moreInfoLabel{
  margin-top: 48px;
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size:16px;
  color: #FFC107;
}
.Email{
    font-size: 14px;
    line-height: 160%;
}
.yellow{
  color: #FFC107;
}
#myBirthday{
  font-family: 'Montserrat', sans-serif;
  font-size:64px;
  color: #FFF;
  line-height: 70%;
  margin-bottom: -20px;
}
#aside{
  /*border-radius:4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #FFC107;
  margin-top: 72px;
  height: 80vh;
  margin-right: 16px;
  padding-left: 0px;
  padding-right: 0px;*/
  /*position: fixed;*/
}
.card{
  border-radius:4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #FFF;
  height: auto;
  margin-top: 72px;
  margin-bottom: 72px;
  padding-bottom: 32px;
}
.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.title{
  color:#212121;
  font-family: 'Montserrat', sans-serif;
  font-size:64px;
}

.card-normal{
  padding-top: 64px; 
  padding-left: 96px;
  padding-right: 96px;
}
.project_list_title{
  color:#FFC107;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.project_list{
  color: #2b2b2b;
  background-color: none;
}
.project_list:last-child{
  margin-bottom: 32px;
}
.triangle{
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
  border-right:50px solid #FFC107; 
  transform: rotate(45deg);
  border-radius: 4px 0px 0px 0px;
  margin-left: -103px;
  margin-top: -96px;
}
.triangle_1{
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
  border-right:50px solid #FFC107; 
  border-radius: 4px 0px 0px 0px;
  margin-left: 604px;
  margin-top: -50px;
  margin-bottom:-70px; 
  z-index: 2;
}
.project_icon{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px; 
  border-radius: 32px;
  background: #FFC107;
}
@media(max-width: 1024px){
  body{
    /*background-color: #2b2b2b;*/
    /* background: url("../img/back-light-c.png") center center no-repeat #FFF; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /*background-size: cover;*/
    background-attachment: fixed;
  }
  .youtube_embedded{
  margin-right: 16px;
    }
  .contents{
    margin-left: 8px;
  }
  a{
    font-size: 8px;
  }
  ul{
    padding-left: 8px;
    padding-right: 8px;
  }
  ul:last-child{
  /*padding-bottom: 10vh;*/
  border-radius: 0px 0px 4px 4px;
}
  #HOME-UPPER{
    padding-left: 16px;
    background: url("../img/home_back_blur.jpg") center center no-repeat #FFF;
    background-size: cover;
    border-radius: 2px 2px 0px 0px;
  }
  #HOME-UNDER{
    padding-left: 16px;
    padding-right: 16px;
    padding-top:48px; 
    color:#212121;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    line-height: 160%;
    padding-bottom: 16px;
  }
  #myBirthday{
    
    font-size:48px;
    color: #FFF;
    line-height: 70%;
    margin-bottom: -20px;
  }
  .Email{
    font-size: 12px;
    line-height: 160%;
  }
  .card{
    margin-left: 88px;
    border-radius:4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #FFF;
    height: auto;
    margin-top: 0px;
  }
  .card-normal{
    padding-top: 64px; 
    padding-left: 16px;
    padding-right: 16px;
  }
  .title{
    color:#212121;
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
  }
  #aside{
    padding-left: 8px;
    padding-right: 0px;
    z-index: 99;
    height: auto;
  }
  nav{
    margin-top: 32px;
  }
}