@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
* {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #ffffff;
  margin: 0;
}

#pangea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 80vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 16px;
  -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
          box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-container {
  width: 70%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-area {
  display: inline-block;
  width: 30vw;
  overflow: scroll;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-area2 {
  display: inline-block;
  width: 30vw;
  overflow: scroll;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
  display: inline;
  color: rgba(159, 159, 178, 0.84);
  -webkit-margin-before: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 0.7vw;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 4px;
  width: 80%;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

hr {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  border-width: 5px;
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  width: 20%;
}

.card-title {
  display: inline-block;
  -webkit-margin-after: 0px;
}

.item-card {
  padding: 24px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 16px;
  background: white;
  -webkit-box-shadow: 0 3px 7px rgba(24, 24, 96, 0.08), 0 4px 10px rgba(24, 24, 96, 0.11);
          box-shadow: 0 3px 7px rgba(24, 24, 96, 0.08), 0 4px 10px rgba(24, 24, 96, 0.11);
  margin-bottom: 32px;
  margin-top: 32px;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  color: rgba(159, 159, 178, 0.84);
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  text-decoration: none;
  color: linear-gradient(120deg, #6fa6ff 0%, #c2e9fb 100%);
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:active {
  text-decoration: none;
  color: #e2E2e2;
}

a.project_list:visited {
  text-decoration: none;
  color: rgba(159, 159, 178, 0.84);
}

a:visited {
  text-decoration: none;
  color: #FFF;
}

.badge-icon {
  width: 40px;
  height: 40px;
  border: solid;
  border-width: 0px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
  border-radius: 20px;
  border-image-slice: 1;
}

.icon-path {
  fill: white;
}

.project-icon {
  background: #ffC107;
}

.project-text {
  vertical-align: middle;
  width: 75%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8vw;
}

.project-name {
  font-weight: 800;
  display: block;
}

.project-description {
  display: block;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
}

.paper-icon {
  background: rgba(233, 30, 99, 0.7);
}

.paper-text {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 0.8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paper-name {
  color: rgba(159, 159, 178, 0.84);
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.paper-author {
  font-size: 0.4em;
  color: rgba(159, 159, 178, 0.84);
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paper-journal {
  font-size: 0.4em;
  color: rgba(159, 159, 178, 0.84);
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.techies-icon {
  background: rgba(139, 195, 74, 0.7);
}

.techies-text {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(159, 159, 178, 0.84);
}

.techies-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.techies-date {
  display: block;
  width: 100%;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 24px;
  -webkit-margin-after: 24px;
}

#paper-header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#paper-category {
  padding: 8px;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
  background-color: white;
  border-radius: 2px;
  border-style: none;
  color: #6fa6ff;
  text-decoration: none;
  border: none;
  font-size: 10px;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#paper-category:hover {
  background-color: #eee;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  ul {
    -webkit-margin-after: 24px;
    -webkit-margin-before: 24px;
  }
  a {
    font-size: 3vw;
  }
  h1 {
    position: relative;
    left: -2%;
    font-size: 800%;
    line-height: 100px;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  h4 {
    font-size: 10px;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #pangea {
    display: block;
    margin: 0px;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: auto;
    overflow: hidden;
    border-radius: 0px;
    -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
            box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #hero {
    width: 50%;
  }
  #right-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 70vh;
    width: 100%;
  }
  #right-area {
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #right-area2 {
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .item-card {
    margin-left: 6%;
    margin-right: 6%;
    width: auto;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .project-text {
    font-size: 12px;
  }
  .paper-author {
    font-size: 10px;
  }
  .paper-journal {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  #right-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #right-area2 {
    margin-top: -32px;
  }
}
/*# sourceMappingURL=main.css.map */