@import "variables.scss";
.rex_list{
    margin-bottom:32px;
}
.rex-icon{
     background:rgba($color:#ff7043, $alpha: 0.7);
    //background:linear-gradient(120deg, #ab47bc 0%, #7b288a 100%);
}
.rex-icon-path{
    fill:white;
}
.rex-text{
    vertical-align:middle;
    color: $text-dark-color;
    display: inline-flex;
    width: 75%;
    font-size:12px;
    flex-direction: column;
}
.rex-place{
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.rex-duration{
    display: block;
    width: 100%;
    white-space: wrap;
}