@import "variables";
.skill-icon{
     background:rgba($color: #ab47bc, $alpha: 0.7);
    //background:linear-gradient(120deg, #ab47bc 0%, #7b288a 100%);
}

.skill-text{
    vertical-align:middle;
    color: $text-dark-color;
    display: inline-flex;
    width: 75%;
    font-size:12px;
    flex-direction: column;
}
.skill-name{
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.skill-lang{
    display: block;
    width: 100%;
    white-space: wrap;
}