@import url('https://fonts.googleapis.com/css?family=Heebo:800');
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
$primary-color:linear-gradient(120deg, #6fa6ff 0%, #c2e9fb 100%);
$paper-background:#ffffff;
// $theme-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$theme-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
//$theme-color: linear-gradient( 125deg, #c1f0d8 20%, rgb(168, 182, 216) 100%);
$text-color:#ffffff;
$text-dark-color:rgba(#9e9eb1,0.84);
$transition-speed:1.5s;
$icon-size:40px;

*{
    -webkit-font-smoothing:antialiased;
}
::-webkit-scrollbar{
    display: none;
}