@import url('https://fonts.googleapis.com/css?family=Heebo:700');
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
$primary-color:linear-gradient(120deg, #6fa6ff 0%, #c2e9fb 100%);
$paper-background:#ffffff;
// $theme-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$theme-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$text-color:#ffffff;
$text-dark-color:#c2c2c2;
$transition-speed:1.5s;

::-webkit-scrollbar{
    display: none;
}
body{
    background:$paper-background;
    margin:0;
    
}
#pangea{
    display:flex;
    margin:10vh;
    background: $theme-color;
    height:80vh;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}

#left-area{
    display: inline-flex;
    // position: relative;;
    width: 50%;
    height:100%;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#right-area{
    display: inline-block;
    width:50%;
    overflow: scroll;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#education{
    font-weight:700;
}
.left-container{
    display:flex;
    flex-direction: column;
    padding:16px; 
    width:auto;
    height: auto;
    // overflow: hidden;
}
h1{
    display: inline;
    vertical-align: middle;
    line-height:9vw;
    font-size:9vw;
    font-family: 'Heebo', sans-serif;
    color:$text-color;
    mix-blend-mode: unset;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
h2{
    color:$text-dark-color;
    -webkit-margin-before:0;
    font-family: 'Heebo', sans-serif; 
    font-weight: 700; 
}
h4{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size:12px;
    color:$text-color;
    flex-grow: 1;
    -webkit-margin-after:0px;
    -webkit-margin-before:12px;
    width:100%;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
hr{
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    border-width:5px;
    background: $text-color;
    border-style: solid;
    border-color: $text-color;
    width: 20%;
}
.item-card{
    padding:16px;
    margin-left:10%;
    border-radius: 4px;
    background: white;
    width:70%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    margin-bottom:32px;
    margin-top:32px;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
a{
    color: $text-dark-color;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight:300;
    font-size:1vw;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
    text-decoration: none;
    color: $primary-color;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:active{
    text-decoration: none;
    color: #e2E2e2;
}
a.project_list:visited{
    text-decoration: none;
    color: $text-dark-color;
}
a:visited{
    text-decoration: none;
    color: #FFF;
}
.contact-icons{
    fill:$text-color;
}
.project_icon{
    width: 24px;
    height: 24px;
    border:solid;
    border-width: 0px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px; 
    border-radius: 24px;
    border-image-slice: 1;
    background: #fdfdff;
    box-shadow: 0px 2px 4px rgba(31, 34, 36, 0.08), 0 2px 4px rgba(2, 36, 56, 0.11);
}
.project-icon-path{
    fill:#ffC107;
}


.project-text{
    vertical-align:middle;
    display: inline-flex;
    flex-direction: column;
}
.project-name{
    font-weight: 700;
    display: block;
}
.project-description{
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    
}
ul{
    -webkit-padding-start:0;
}
@media(max-width:720px){
    a{
        font-size: 2vw;
    }
    h1{
        font-size:800%;
        line-height:100px;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    h4{
        width: 100%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #pangea{
        display:block;
        margin:0px;
        background: $theme-color;
        height:auto;
        overflow: hidden;
        border-radius: 0px;
        box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #left-area{
        position: fixed;
        display:block;
        height:70%;
        width: 95%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #right-area{
        display:block;
        position: relative;
        margin-top:70vh;
        width: 100%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    .item-card{
        margin-left:6%;
        width: 80%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    
}