@import url("https://fonts.googleapis.com/css?family=Heebo:700");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
::-webkit-scrollbar {
  display: none;
}

body {
  background: #ffffff;
  margin: 0;
}

#pangea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 80vh;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
          box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
}

#left-area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
  height: 100%;
}

#right-area {
  display: inline-block;
  width: 50%;
  overflow: scroll;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  width: auto;
  height: auto;
}

h1 {
  display: inline;
  vertical-align: middle;
  line-height: 150px;
  font-size: 1200%;
  font-family: 'Heebo', sans-serif;
  color: #ffffff;
  mix-blend-mode: unset;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2 {
  color: #a2a2a2;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 12px;
  width: 60%;
}

hr {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  border-width: 5px;
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  width: 20%;
}

.item-card {
  padding: 16px;
  margin-left: 10%;
  border-radius: 4px;
  background: white;
  width: 80%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.11);
  margin-bottom: 32px;
  margin-top: 32px;
}

a {
  color: #a2a2a2;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  text-decoration: none;
  color: #ffd659;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:active {
  text-decoration: none;
  color: #e2E2e2;
}

a.project_list:visited {
  text-decoration: none;
  color: #a2a2a2;
}

a:visited {
  text-decoration: none;
  color: #FFF;
}

.contact-icons {
  fill: #ffffff;
}

.project_icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
  border-radius: 12px;
  border-color: #ffd659;
  border-width: 1px;
  background: #ffd659;
}

ul {
  -webkit-padding-start: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 800%;
    line-height: 100px;
  }
  h4 {
    width: 100%;
  }
  #pangea {
    display: block;
    margin: 0px;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: auto;
    overflow: hidden;
    border-radius: 0px;
    -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
            box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
  }
  #left-area {
    position: fixed;
    display: block;
    height: 70%;
    width: 95%;
  }
  #right-area {
    display: block;
    position: relative;
    margin-top: 70vh;
    width: 100%;
  }
  .item-card {
    margin-left: 6%;
  }
}
/*# sourceMappingURL=main.css.map */