.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}

@mixin cardy() {
  background: var(--foreground);
  border-radius: var(--global-radius);
  box-shadow: var(--elevation1);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    background: var(--foreground-hover);
  }
}

@mixin row($mainAxisAlignment: initial, $crossAxisAlignment: initial) {
  display: flex;
  flex-direction: row;
  justify-content: $mainAxisAlignment;
  align-items: $crossAxisAlignment;
}

@mixin column($mainAxisAlignment: initial, $crossAxisAlignment: initial) {
  display: flex;
  flex-direction: column;
  justify-content: $mainAxisAlignment;
  align-items: $crossAxisAlignment;
}

@mixin maximize() {
  width: 100vw;
  height: 100vh;
}
