:root {
  --accent-light: #618bff;
  --accent: #3369ff;
  --accent-dark: #0a4bff;
  --accent-darker: #000b29;

  --global-radius: 7px;
  --elevation1: 0 1px 2px hsla(0, 10%, 0%, 0.03), 0 2px 3px rgba(0, 0, 0, 0.08);

  //langue
  .c-lang {
    background: #555555;
  }
  .cpp-lang {
    background: #f34b7d;
  }
  .csharp-lang {
    background: #178600;
  }
  .scala-lang {
    background: #c22d40;
  }
  .java-lang {
    background: #b07219;
  }
  .shaderlab-lang {
    background: #cccccc;
  }
  .hlsl-lang {
    background: #cccccc;
  }
  .dart-lang {
    background: #00b4ab;
  }
  .javascript-lang {
    background: #f1e05a;
  }
  .html-lang {
    background: #e34c26;
  }
}
[data-theme^='dark'] {
  --text-color: white;
  --background: #121212;
  --dock-tint: #fff;
  --foreground: #242424;
  --foreground-hover: #363636;
}
[data-theme^='light'] {
  --text-color: #121212;
  --background: #f2f2f2;
  --dock-tint: #222;
  --foreground: white;
  --foreground-hover: #f2f2f2;
}

@import './fonts.scss';
