:root {
  --accent-light: #618bff;
  --accent: #ffc107;
  --accent-dark: #0a4bff;
  --accent-darker: #000b29;

  --global-radius: 7px;
  --elevation1: 0 1px 2px hsla(0, 10%, 0%, 0.03), 0 2px 3px rgba(0, 0, 0, 0.08);
  --elevation8: 0 2px 4px hsla(0, 10%, 0%, 0.24), 0 4px 6px rgba(0, 0, 0, 0.32);

  //langue
  .c-lang {
    background: #555555;
  }
  .cpp-lang {
    background: #f34b7d;
  }
  .csharp-lang {
    background: #178600;
  }
  .scala-lang {
    background: #c22d40;
  }
  .java-lang {
    background: #b07219;
  }
  .shaderlab-lang {
    background: #cccccc;
  }
  .hlsl-lang {
    background: #cccccc;
  }
  .dart-lang {
    background: #00b4ab;
  }
  .javascript-lang {
    background: #f1e05a;
  }
  .html-lang {
    background: #e34c26;
  }
  .vue-lang {
    background: #2c3e50;
  }
  .fsharp-lang {
    background: #b845fc;
  }
}
[data-theme^='dark'] {
  --accent: hsl(42, 100%, 51%);
  --text-color: white;
  --background: #121212;
  --dock-tint: #fff;
  --foreground: #242424;
  --foreground2: #424242;
  --foreground-hover: #363636;

  --project-token: #0d1117;

  --sky: hsl(251, 23%, 36%);
  --star: hsl(42, 100%, 51%);

  --github-hue: 135;
  --github0: hsl(0, 0%, 26%);
  --github1: hsl(var(--github-hue), 34%, 32%);
  --github2: hsl(var(--github-hue), 43%, 46%);
  --github3: hsl(var(--github-hue), 43%, 63%);
  --github4: hsl(var(--github-hue), 52%, 78%);
}
[data-theme^='light'] {
  --accent: hsl(42, 100%, 51%);
  --text-color: #121212;
  --background: #f2f2f2;
  --dock-tint: #222;
  --foreground: white;
  --foreground2: #f2f2f2;
  --foreground-hover: #f2f2f2;

  --project-token: #f2f2f2;

  --sky: hsl(215, 100%, 78%);
  --star: #ffd75e;

  --github-hue: 125;
  --github0: hsl(0, 0%, 94%);
  --github1: hsl(var(--github-hue), 50%, 71%);
  --github2: hsl(var(--github-hue), 50%, 52%);
  --github3: hsl(var(--github-hue), 50%, 42%);
  --github4: hsl(var(--github-hue), 50%, 21%);
}

@import './fonts.scss';
@import './mixins.scss';
