@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::view-transition-group(nav) {
    border-radius: 1rem;
    overflow: hidden;
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
